body{
    font-family:"Open Sans";
}
.login-container{
    width: 100%;
    text-shadow: 0px 0px 5px white;
}

.main {
    color: white;

    margin-top: 4%;
    margin-bottom: 4%;

    background-image: url('../img/login-bg.png');
    width: 100%;
    padding: 200px 0;

}
.main input{
    margin-top: 5px;
    margin-bottom: 5px;

}
