body{
    font-family:"Open Sans";
}
.login-container{
    width: 100%;
    text-shadow: 0px 0px 5px white;
}

.main {
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url('../img/login-bg.png');
    width: 100%;
    padding: 200px 0;

}
.main input{
    margin-top: 5px;
    margin-bottom: 5px;
}
.row-fluid{
     margin-bottom: 180px;
}
.form-control{
    text-align: center;
}
#button-login{
    background-color: #cbb9a0;
    border-color: #cbb9a0;
}